[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[MESSAGES CONTROL]

disable=
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-public-methods,
    global-statement,
    fixme,
    broad-exception-caught,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    too-many-return-statements,
    unused-argument,
    arguments-differ,
    unused-variable

[STRING]

check-quote-consistency=yes
